/*
 * SAMSUNG UNIVERSAL5420 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos5420.dtsi"

/ {
	model = "Samsung UNIVERSAL5420 board based on EXYNOS5420";
	compatible = "samsung,universal5420",
        "samsung,n1", "samsung,n1a",
        "samsung,n1awifi", "samsung,lt03",
        "samsung,lt03wifi", "samsung,exynos5420",
        "samsung,exynos5";

	memory {
		reg = <0x20000000 0x80000000>;
	};

	chosen {
		bootargs = "console=ttySAC2,115200n8 vmalloc=512M androidboot.console=ttySAC2";
	};

	fixed-rate-clocks {
		oscclk {
			compatible = "samsung,exynos5420-oscclk";
			clock-frequency = <24000000>;
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		vdd: fixed-regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "vdd-supply";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		dbvdd: fixed-regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "dbvdd-supply";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		spkvdd: fixed-regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "spkvdd-supply";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
		};
	};

	rtc@101E0000 {
		status = "okay";
	};


	/* The universal5420 has a Wolfson WM5102 codec. */
	/* Not sure if I should remove this node (from the smdk5420 device tree) */
	/* and replace it with the WM5102 node, or what? */

	codec@11000000 {
		samsung,mfc-r = <0x43000000 0x800000>;
		samsung,mfc-l = <0x51000000 0x800000>;
	};

	mmc@12200000 {
		status = "okay";
		broken-cd;
		supports-highspeed;
		card-detect-delay = <200>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <0 4>;
		samsung,dw-mshc-ddr-timing = <0 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_bus4 &sd0_bus8>;

		slot@0 {
			reg = <0>;
			bus-width = <8>;
		};
	};

	mmc@12220000 {
		status = "okay";
		supports-highspeed;
		card-detect-delay = <200>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <2 3>;
		samsung,dw-mshc-ddr-timing = <1 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_cd &sd2_bus4>;

		slot@0 {
			reg = <0>;
			bus-width = <4>;
		};
	};

	dp-controller@145B0000 {
		pinctrl-names = "default";
		pinctrl-0 = <&dp_hpd>;
		samsung,color-space = <0>;
		samsung,dynamic-range = <0>;
		samsung,ycbcr-coeff = <0>;
		samsung,color-depth = <1>;
		samsung,link-rate = <0x0a>;
		samsung,lane-count = <4>;
		status = "okay";
	};

	fimd@14400000 {
		status = "okay";
		display-timings {
			native-mode = <&timing0>;
			timing0: timing@0 {
				clock-frequency = <50000>;
				hactive = <2560>;
				vactive = <1600>;
				hfront-porch = <48>;
				hback-porch = <80>;
				hsync-len = <32>;
				vback-porch = <16>;
				vfront-porch = <8>;
				vsync-len = <6>;
			};
		};
	};

	pinctrl@13400000 {
		hdmi_hpd_irq: hdmi-hpd-irq {
			samsung,pins = "gpx3-7";
			samsung,pin-function = <0>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <0>;
		};
	};

	pinctrl@14000000 {
		usb300_vbus_en: usb300-vbus-en {
			samsung,pins = "gpg0-5";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		usb301_vbus_en: usb301-vbus-en {
			samsung,pins = "gpg1-4";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	hdmi@14530000 {
		status = "okay";
		hpd-gpio = <&gpx3 7 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&hdmi_hpd_irq>;
	};

	usb300_vbus_reg: regulator-usb300 {
		compatible = "regulator-fixed";
		regulator-name = "VBUS0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpg0 5 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb300_vbus_en>;
		enable-active-high;
	};

	usb301_vbus_reg: regulator-usb301 {
		compatible = "regulator-fixed";
		regulator-name = "VBUS1";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpg1 4 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb301_vbus_en>;
		enable-active-high;
	};

	phy@12100000 {
		vbus-supply = <&usb300_vbus_reg>;
	};

	phy@12500000 {
		vbus-supply = <&usb301_vbus_reg>;
	};

	i2c_2: i2c@12C80000 {
		samsung,i2c-sda-delay = <100>;
		samsung,i2c-max-bus-freq = <66000>;
		status = "okay";

		hdmiddc@50 {
			compatible = "samsung,exynos4210-hdmiddc";
			reg = <0x50>;
		};
	};

	hsi2c_3: i2c@12CD0000 {
		compatible = "samsung,exynos5-hsi2c";
		reg = <0x12CD0000 0x1000>;
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&clock CLK_USI0>;
		clock-names = "hsi2c";
		pinctrl-0 = <&i2c3_hs_bus>;
		pinctrl-names = "default";
		interrupts = <0 63 0>;
		clock-frequency = <400000>;
		status = "okay";

		max77802@09 {
			compatible = "maxim,max77802";
			interrupt-parent = <&wakeup_eint>;
			interrupts = <26 0>;
			reg = <0x09>;
			#address-cells = <1>;
			#size-cells = <0>;
			/* The above is taken from max77802 documentation file. Unit-address has yet to be verified. */

			regulators {
				max77802_ldo2_reg: LDO2 {
					regulator-name ="vmem2_1.2v_ap";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-state-disabled;
						regulator-state-enabled;
					};
					max77802,consumer-supplies = "vmem2_1.2v_ap"; //or: regulator-consumer-supplies =
				};

				max77802_ldo3_reg: LDO3 {
					regulator-compatible = 	"vcc_1.8v_ap", "spi2.0", "wm5102-codec";
					regulator-name = "vcc_1.8v_ap";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vcc_1.8v_ap";
				};

				max77802_ldo4_reg: LDO4 {
					regulator-compatible = "vmmc2_2.8v_ap", "vqmmc,dw_mmc.2", "vqmmc", "dw_mmc.2";
					regulator-name = "vmmc2_2.8v_ap";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <2800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {
						regulator-change-voltage;
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vmmc2_2.8v_ap";
				};

				max77802_ldo5_reg: LDO5 {
					regulator-name = "vhsic_1.8v_ap";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vhsic_1.8v_ap";
				};

				max77802_ldo6_reg: LDO6 {
					regulator-name = "vxpll_1.8v_ap"
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vxpll_1.8v_ap";
				};

				max77802_ldo8_reg: LDO8 {
					regulator-name = "vmipi_1.0v_ap"
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vmipi_1.0v_ap";
				};

				max77802_ldo9_reg: LDO9 {
					regulator-name = "vadc_1.8v";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vadc_1.8v";
				};

				max77802_ldo10_reg: LDO10 {
					regulator-name = "vmipi_1.8v_ap";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vmipi_1.0v_ap";
				};

				max77802_ldo11_reg: LDO11 {
					regulator-name = "vddq_pre_1.8v";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vddq_pre_1.8v";
				};

				max77802_ldo12_reg: LDO12 {
					regulator-name = "vuotg_3.0v_ap";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vuotg_3.0v_ap";
				};

				max77802_ldo14_reg: LDO14 {
					regulator-name = "vabb1_1.8v_ap";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vabb1_1.8v_ap";
				};

				max77802_ldo15_reg: LDO15 {
					regulator-name = "vhsic_1.0v_ap";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vhsic_1.0v_ap";
				};

				max77802_ldo17_reg: LDO17 {
					regulator-name = "vg3ds_1.0v_ap";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vg3ds_1.0v_ap";
				};
			
				max77802_ldo18_reg: LDO18 {
					regulator-name = "cam_isp_sensor_io_1.8v";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "cam_isp_sensor_io_1.8v";
				};
			
				max77802_ldo19_reg: LDO19 {
					regulator-name = "vt_cam_1.8v";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vt_cam_1.8v";
				};
			
				max77802_ldo23_reg: LDO23 {
					regulator-name = "key_led_3.3v";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "key_led_3.3v";
				};

				max77802_ldo24_reg: LDO24 {
					regulator-name = "cam_af_2.8v_pm";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {
						regulator-change-voltage;	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "cam_af_2.8v_pm";
				};

				max77802_ldo25_reg: LDO25 {
					regulator-name = "vcc_3.3v_mhl";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vcc_3.3v_mhl";
				};

				max77802_ldo26reg: LDO26 {
					regulator-name = "vcc_3.0v_motor";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vcc_3.0v_motor";
				};

				max77802_ldo27_reg: LDO27 {
					regulator-name = "vsil_1.2a";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vsil_1.2a";
				};

				max77802_ldo28_reg: LDO28 {
					regulator-name = "vcc_1.8v_mhl";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vcc_1.8v_mhl";
				};

				max77802_ldo29_reg: LDO29 {
					regulator-name = "tsp_vdd_1.8v";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "tsp_vdd_1.8v";
				};

				max77802_ldo30_reg: LDO30 {
					regulator-name = "vmifs_1.0v_ap";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vmifs_1.0v_ap";
				};

				max77802_ldo32_reg: LDO32 {
					regulator-name = "irled_3.3V";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "irled_3.3V";
				};

				max77802_ldo33_reg: LDO33 {
					regulator-name = "vcc_2.8v_ap";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "vcc_2.8v_ap";
				};

				max77802_ldo35_reg: LDO35 {
					regulator-name = "cam_sensor_core_1.2v";
					regulator-min-microvolt = <1050000>;
					regulator-max-microvolt = <1200000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {	
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-status-disabled;
						regulator-status-enabled;
					};
					max77802,consumer-supplies = "cam_sensor_core_1.2v";

				max77802_buck1_reg: BUCK1 {
					regulator-compatible = "BUCK1";
					regulator-name = "vdd_mif";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <1300000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-valid-modes-mask {
						regulator-change-voltage;
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-state-uv = <1100000>;
						regulator-state-mode = "normal";
						regulator-state-disabled;
					};
					max77802,consumer-supplies = "vdd_mif";
				};

				max77802_buck2_reg: BUCK2 {
					regulator-compatible = "BUCK2";
					regulator-name = "vdd_arm";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1500000>;
					regulator-apply-uV;
					regulator-always-on;
					regulator-boot-on;
					regulator-valid-modes-mask {
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-state-disabled;
					};
					max77802,consumer-supplies = "vdd_arm";
				};

				max77802_buck3_reg: BUCK3 {
					regulator-compatible = "BUCK3";
					regulator-name = "vdd_int";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1400000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {
						regulator-change-voltage;
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-state-uv = <1100000>;
						regulator-state-mode = "normal";
						regulator-state-disabled;
					};
					max77802,consumer-supplies = "vdd_int";
				};

				max77802_buck4_reg: BUCK4 {
					regulator-compatible = "BUCK4";
					regulator-name = "vdd_g3d";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <1400000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-apply-uV;
					regulator-valid-modes-mask {
						regulator-change-voltage;
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-state-uv = <1100000>;
						regulator-state-mode = "normal";
						regulator-state-disabled;
					};
					max77802,consumer-supplies = "vdd_g3d";
				};

				max77802_buck6_reg: BUCK6 {
					regulator-compatible = "BUCK6";
					regulator-name = "vdd_kfc";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-valid-modes-mask {
						regulator-change-status;
					};
					regulator-state-mem {
						regulator-state-disabled;
					};
					max77802,consumer-supplies = "vdd_kfc";
				};
			};
		};
	};

	/* The addresses below have yet to be verified/corrected. Otherwise I'm pretty sure it's quite accurate. */

	i2c_max77693: i2c-gpio {
		compatible = "i2c-gpio";
		gpios = <&gpm2 0 GPIO_ACTIVE_HIGH>, <&gpm2 1 GPIO_ACTIVE_HIGH>;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		max77693@66 {
			compatible = "maxim,max77693";
			interrupt-parent = <&gpx1>;
			interrupts = <5 2>;
			reg = <0x66>;

			regulators {
				esafeout1_reg: ESAFEOUT1@1 {
					regulator-name = "ESAFEOUT1";
					regulator-boot-on;
				};
				esafeout2_reg: ESAFEOUT2@2 {
					regulator-name = "ESAFEOUT2";
				};
				charger_reg: CHARGER@0 {
					regulator-name = "CHARGER";
					regulator-boot-on;
					regulator-min-microamp = <60000>;
					regulator-max-microamp = <2580000>;
				};
			};

			/* The stuff below may or may not be a stupid addition. */
			/* Not sure if it's actually relevant. */

			charger {
				compatible = "maxim,max77693-charger";

				maxim,constant-microvolt = <4350000>;
				maxim,min-system-microvolt = <3600000>;
				maxim,thermal-regulation-celsius = <100>;
				maxim,battery-overcurrent-microamp = <3500000>;
				maxim,charge-input-threshold-microvolt = <4300000>;
			};
 		};
 	};
};